* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #111;
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: black;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.menu-toggle {
    display: none;
    font-size: 25px;
    cursor: pointer;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
                url('https://images.unsplash.com/photo-1520607162513-77705c0f0d4a');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* BUTTON */
.btn {
    margin-top: 20px;
    padding: 12px 25px;
    background: gold;
    color: black;
}

/* SERVICES */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #222;
    padding: 30px;
    border-radius: 10px;
    width: 250px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

/* CONTACT */
.contact input,
.contact textarea {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    display: block;
}

button {
    padding: 10px 20px;
    background: gold;
    border: none;
}

/* ANIMATION */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: 1s;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

/* MOBILE */
@media(max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
        flex-direction: column;
        background: black;
    }

    .navbar ul.active {
        display: flex;
    }
    .logo {
    height: 50px;
}
}